---
import Layout from '../layouts/Layout.astro';
import IssTrackerScene from '../components/IssTrackerScene.tsx';
---

<Layout title="Space Station Tracker">
  <main class="w-full h-screen">
    <IssTrackerScene client:only="react" />
  </main>
</Layout>
